# optional, default: development
# VITE_NODE_ENV=development

# required if VITE_NODE_ENV is production, values: staging, production
# VITE_NODE_ENV_MODE=staging

# VITE_PORT for development, PORT for production
VITE_PORT=8002
PORT=8002